{% extends 'app/base.html' %} {% block title %}Add Facility {% endblock title %} {% block content %}
<div class="col-sm-8 offset-sm-2 border shadow rounded p-3 my-5">
    <h1 class="text-center">
        Add Facility
        <hr>
    </h1>
    <div class="">
        1. Click the "Add Facility" button below.
        <br> 2. Log-in.
        <br>3. Add the required details.
        <br>4. Click "Save".

    </div>
    <hr>
    <div class="text-center">
        <a href="/admin/app/facility/add/" class="btn btn-danger">Add Facility</a>
    </div>
</div>
{%endblock%}