{% extends 'app/base.html' %}{% block title %}Add Hospital {% endblock title %} {% block content %}
<div class="col-sm-8 offset-sm-2 border shadow rounded p-3 my-5">
    <h1 class="text-center">
        Add Hospital(s)
        <hr>
    </h1>
    <div class="">
        1. Click the "Add Hospital(s)" button below.
        <br> 2. Log-in.
        <br>3. Add the required details.
        <br>4. Click "Save".

    </div>
    <hr>
    <div class="text-center">
        <a href="/admin/app/hospital/add/" class="btn btn-danger">Add Hospital(s)</a>
    </div>
</div>
{%endblock%}