{% extends 'app/base.html' %}{% block title %}Add Resources {% endblock title %} {% block content %}
<div class="col-sm-8 offset-sm-2 border shadow rounded p-3 my-5">
    <h1 class="text-center">
        Add Cities
        <hr>
    </h1>
    <div class="">
        1. Click the "Add Cities" button below.
        <br> 2. Log-in.
        <br>3. Add the required details.
        <br>4. Click "Save".

    </div>
    <hr>
    <div class="text-center">
        <a href="/admin/app/city/add/" class="btn btn-danger">Add City</a>
    </div>
</div>
<div class="col-sm-8 offset-sm-2 border shadow rounded p-3 my-5">
    <h1 class="text-center">
        Add Hospital
        <hr>
    </h1>
    <div class="">
        1. Click the "Add Hospital" button below.
        <br> 2. Log-in.
        <br>3. Add the required details.
        <br>4. Click "Save".

    </div>
    <hr>
    <div class="text-center">
        <a href="/admin/app/hospital/add/" class="btn btn-danger">Add Hospital</a>
    </div>
</div>
<div class="col-sm-8 offset-sm-2 border shadow rounded p-3 my-5">
    <h1 class="text-center">
        Add Facility
        <hr>
    </h1>
    <div class="">
        1. Click the "Add Facility" button below.
        <br> 2. Log-in.
        <br>3. Add the required details.
        <br>4. Click "Save".

    </div>
    <hr>
    <div class="text-center">
        <a href="/admin/app/facility/add/" class="btn btn-danger">Add Facility</a>
    </div>
</div>
<div class="col-sm-8 offset-sm-2 border shadow rounded p-3 my-5">
    <h1 class="text-center">
        Add Availability
        <hr>
    </h1>
    <div class="">
        1. Click the "Add Availability" button below.
        <br> 2. Log-in.
        <br>3. Add the required details.
        <br>4. Click "Save".

    </div>
    <hr>
    <div class="text-center">
        <a href="/admin/app/availability/add/" class="btn btn-danger">Add Availability</a>
    </div>
</div>
<div class="col-sm-8 offset-sm-2 border shadow rounded p-3 my-5">
    <h1 class="text-center">
        Add Volunteer
        <hr>
    </h1>
    <div class="">
        1. Click the "Add Volunteer" button below.
        <br> 2. Log-in.
        <br>3. Add the required details.
        <br>4. Click "Save".

    </div>
    <hr>
    <div class="text-center">
        <a href="/admin/auth/user/add/" class="btn btn-danger">Add Volunteer</a>
    </div>
</div>
{%endblock%}