{% extends 'app/base.html' %} {% load custom_tags %} {% block title %} Resources{% endblock title %} {% block content %}
<style>
    a:hover {
        text-decoration: None;
    }
    
    a {
        color: black;
    }
    
    .table-responsive {
        overflow-x: auto
    }
    html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
</style>



<div class="container-fluid mt-5">
    <div class="row">

        <div class="col-sm-3 mx-auto">
            <form action="" id='filterForm' method="GET">
                <div class="row">

                    <!-- states -->
                    <div class="col border shadow rounded mx-3 p-5">
                        <div class="form-group text-center">
                            <label for="">Select State</label>
                            <select name='state' id='stateSelect' class="form-control">
                                <option value=''>All States</option>
                                {% for state in states %}
                                <option {% is_option_selected selected_state_id state.pk %} value="{{state.pk}}">
                                    {{state}}</option>
                                {% endfor%}
                            </select>
                        </div>
                    </div>
                    <div>
                        <hr>
                        </div>
                    <!-- cities -->
                    <div class="col border shadow rounded mx-3 p-5">
                        <div class="form-group text-center">
                            <label for="">Select City</label>
                            <select name='city' class="form-control" id="citySelect">
                                <option value=''>All Cities</option>
                                {% for city in cities %}
                                <option {% is_option_selected selected_city_id city.pk %} value="{{city.pk}}">
                                    {{city.name}}</option>
                                {% endfor%}
                            </select>
                        </div>
                    </div>
                    <div>
                        <hr>
                        </div>
                    <div class="col border shadow rounded mx-3 p-5">
                        <div class="form-group text-center">
                            <label for="">Select Facility</label>
                            <select name='facility' class="form-control" id="facilitySelect">
                                <option value=''>All Facilities</option>
                                {% for facility in facilities %}
                                <option {% is_option_selected selected_facility_id facility.pk %} value="{{facility.pk}}">
                                    {{facility.title}}</option>
                                {% endfor%}
                            </select>
                        </div>
                    </div>



                </div>
                <br>
                <div class="text-center">
                    <a href="/" class="btn btn-danger shadow">Reset</a>
                </div>
            </form>


            <br>
        </div>


        <div class="col-sm-9 mx-auto">
            <div class="row mx-auto">
                <table class="table border shadow rounded table-responsive text-center table-bordered table-striped p-3" style="width:100%">
                    <thead class="thead-light">
                        <tr>
                            <th rowspan="2">Hospital(s)</th>
                            {% for facility in facilities %}
                            <th colspan="2" class="text-center">{{facility.title}}</th>
                            {% endfor %}
                        </tr>
                        <tr>

                            {% for facility in facilities %}
                            <th>Total</th>
                            <th>Available</th>
                            {% endfor %}

                        </tr>
                    </thead>

                    <tbody>
                        {% for hospital in hospitals %}
                        <tr>
                            <td><a href="/hospital/{{hospital.id}}">{{hospital.name}}</a></td>

                            {% get_availibilities hospital as availibilities %} {% for avl in availibilities %}
                            <td>{{avl.total}}</td>
                            <td class='{%get_table_class avl.available%}'>{{avl.available}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Java Script -->
<script>
    window.onload = function() {
        var stateSelect = document.getElementById('stateSelect')
        var citySelect = document.getElementById('citySelect')
        var facilitySelect = document.getElementById('facilitySelect')
        var form = document.getElementById('filterForm')

        var formSubmit = function() {
            form.submit();
        }



        stateSelect.onchange = formSubmit
        citySelect.onchange = formSubmit
        facilitySelect.onchange = formSubmit
    }
</script>

{% endblock %}