{% extends 'app/base.html' %} {% block title %}Add Volunteer {% endblock title %} {% block content %}
<div class="col-sm-8 offset-sm-2 border shadow rounded p-3 my-5">
    <h1 class="text-center">
        Please click the button below. To redirect to a tracker.
        <hr>
    </h1>
    <div class="text-center">
        <a href="https://covid-tracker.glitch.me/" class="btn btn-danger shadow">Tracker</a>
    </div>
    <!--<div class="">
        1. Click the "Add Volunteer" button below.
        <br> 2. Log-in.
        <br>3. Add the required details.
        <br>4. Click "Save".

    </div>
    <hr>
    <div class="text-center">
        <a href="/admin/auth/user/add/" class="btn btn-danger">Add Volunteer</a>
    </div>-->
</div>
{%endblock%}